body {
    font-family: sans-serif;
}

footer {
    background-color: #212429;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    font-size: .8em;
    text-align: center;
    padding: 3px;
}

.player-card img {
    height: 150px;
    object-fit: cover;
    object-position: top;
}